
.nav-main-container{
    background-color: rgb(3, 106, 175);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.nav-elements{
    color: white;
    list-style-type: none;
    padding: 2vw;

}
.nav-home-about-container{
    display: flex;
    flex-direction: row;
    font-size: 1.3vw;
    font-family: roboto;
    font-weight: bold;
    
}
.logo-home{
    height: 5vh;
}